name: iOS - Test develop

on:
  pull_request:
    branches:
      - develop

jobs:
  test:
    name: Run tests
    runs-on: [self-hosted, ios-build]
    timeout-minutes: 15
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        continue-on-error: true
        with:
          clean: false
      - name: Build KMP
        working-directory: ios
        run: |
          ./scripts/generate-error-messages.sh
          ./scripts/build-kmp.sh debug true true false
      - name: Setup tools
        working-directory: ios
        run: ./scripts/setup.sh
      - name: Run tests
        working-directory: ios
        run: swift run --package-path CI/FastlaneRunner fastlaneRunner lane testAlphaLane
